
.View_ReDetails-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.View_ReDetails-sub-container{
    width: 80%;
}
.View_ReDetails-heading{
    text-align: center;
    color: black;
}


.View_ReDetails-table-Details {
    border-collapse: collapse;
}
.View_ReDetails-table-Details thead tr{
    background-color: greenyellow;
    text-align: center;
    font-weight: bold; 
}

.View_ReDetails-table-Details th{
    padding: 15px 15px;
    font-size: 20px;
    border: 1px solid #555;
    
}

.View_ReDetails-table-Details td{
    padding: 8px 15px;
    
    border: 1px solid #555;
    font-weight: 550;
}